{% extends "base.html" %}
{% block content %}



<div class="container1 content1">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="message-div">
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith%}

        <article class="media content-section">
            <div class="containercontainer">
                <div class="container3">
                    <thing>latest update:&emsp;&emsp;  </thing>
                    <h4><div class="article-title"><a href="{{ url_for('main.siteUpdates') }}">{{ latest_update.title }}</a></div></h4>            
                    <small class="text-muted">{{ latest_update.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
            </div>
            <hr>
        </article>
    <P>
        Welcome to MyMedicApps.<br><br>  This site contains protocols for Mecklenburg EMS Agency, as well as common tools and references.
    </P>
    
    {% if current_user.is_authenticated %}
    {% else %}
        <p>
            Please Register and/or Log In at the top right, in order to create default settings to show/hide the information that is relavent to you.  
        </p>
    {% endif %}

</div>
{% endblock %}