{% extends "base.html" %}
{% block content %}



<div class="container1 content1">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="message-div">
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith%}
    
    <H1>My Medic Apps - Site Updates</H1><hr>
    {% for update in updates %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">posted:  {{ update.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <div class="container2">
                <h2><div class="article-title">{{ update.title }}</div></h2>            
                <small class="text-muted">Protocol Version:  {{ update.date_protocol.strftime('%Y-%m-%d') }}</small>
            </div>
            
            <p class="article-content">{{ update.description }}</p>
        </div>
    </article>
    <br><hr>
    {% endfor %}
</div>
{% endblock %}