{% extends "base.html" %}
{% block content %}

<div class="container1 content1">

        <article class="media content-section">
            <div class="container-squared">
                <div class="container2">
                    <h2><div class="article-title">Acetaminophen</div></h2>
                    <small class="text-muted">Tylenol®</small>
                    <hr>
                </div>
                <div class="med-imgs-group">
                    <div class="med-image dual"><img src="{{ url_for('static', filename='images/medications/acetaminophen1.jpg') }}"></div>
                    <div class="med-image dual"><img src="{{ url_for('static', filename='images/medications/acetaminophen2.jpg') }}"></div> 
                </div>                       
                <div class="med-info-group">
                    <div class="med-info-title">Indications:</div>
                    <div class="med-info-sub-item">Pain Control</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Contraindications:</div>
                    <div class="med-info-sub-item">Known hypersensitivity reaction</div>
                    <div class="med-info-sub-item">Significant liver disease</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">How Supplied</div>
                    <div class="med-info-sub-item">160 mg chewable tablet</div>
                    <div class="med-info-sub-item">325 mg/10.15 ml (32 mg/ml)</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Mechanism of action:</div>
                    <div class="med-info-sub-item">Inhibits the cyclooxygenase (COX) pathways</div>
                </div>
                <div class="medication-dose-group">
                    <div>
                        {% if ptYears %}
                            <div class="med-info-title">Dose for Current Pt:</div>
                                {% if ptAdult %}
                                        <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            <ul>
                                                <li>Adult: <b style="color:#f4b02a;font-weight:500">650 mg - 975 mg orally</b></li>
                                                <thing>&nbsp &nbsp <b style="color:#f4b02a;font-weight:500">4 - 6 tablets, or 2 - 3 containers Oral Solution</b></thing>
                                            </ul>
                                {% else %}
                                        <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            {% if ptMax43 %}
                                                    <ul>
                                                        <li>Pediatric: <b style="color:#f4b02a;font-weight:500">650 mg - 975 mg orally</b></li>
                                                        <thing>&nbsp &nbsp <b style="color:#f4b02a;font-weight:500">4 - 6 tablets, or 2 - 3 containers Oral Solution</b></thing>
                                                    </ul>
                                            {% else %}
                                                    <ul>
                                                        <li>Pediatric: <b style="color:#f4b02a;font-weight:500">{{ ptKgs * 15 }} mg orally</b></li>
                                                        <thing>&nbsp &nbsp <b style="color:#f4b02a;font-weight:500">see table below</b></thing>
                                                    </ul>
                                            {% endif %}
                                            <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">Contraindicated in Pediatric Patients less than 3 months old</b></li></ul>
                                {% endif %}
                        <hr>
                        {% else %}
                        {% endif %}
                     </div>       
                    <div class="dose-item">
                        <b>Dose Adult</b>
                        <ul><li>650 mg - 975 mg orally</li></ul>
                    </div>
                    <div class="dose-item">
                        <b>Dose Pediatric <thing style="color:#D2042D;font-weight:600">(> 3 months of age)</thing></b>                        
                            <ul>
                                <li>15 mg/kg orally <b style="color:#D2042D;font-weight:600">(maximum 650 mg)</b></li>
                            </ul>
                    </div>
                </div>
                <div class="med-helpers-group">
                    <div class="med-image"><img src="{{ url_for('static', filename='images/medications/acetaminophen_helper1.jpg') }}"></div>
                    <div class="med-image"><img src="{{ url_for('static', filename='images/medications/acetaminophen_helper2.jpg') }}"></div> 
                </div> 
                <div class="med-info-group">
                    <div class="med-info-title">Adverse Effects</div>
                    <div class="med-info-sub-item">Angioedema</div>
                    <div class="med-info-sub-item">Hepatotoxicity</div>
                    <div class="med-info-sub-item">Rash</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Protocols Utilizing</div>
                    <div class="med-info-sub-item">Fever</div>
                    <div class="med-info-sub-item">Special Operations</div>
                    <div class="med-info-sub-item">Additional protocols with need for analgesic management</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Administration</div>
                    <div class="med-info-sub-item">Adult</div>
                        <ul>
                            <li>chewable tablets: 3 - 5 PO</li>
                            <li>liquid: 20.25 ml PO</li>
                        </ul>
                    <div class="med-info-sub-item">Pediatric (> 3 months of age)</div>
                    <ul>
                        <li>15 mg/kg PO</li>
                    </ul>
                </div>
            <hr>
        </article>

</div>
{% endblock %}