{% extends "base.html" %}
{% block content %}

<div class="container1 content1">

        <article class="media content-section">
            <div class="container-squared">
                <div class="container2">
                    <h2><div class="article-title">Calcium Gluconate</div></h2>
                    <small class="text-muted"></small>
                    <hr>
                </div>
                <div class="med-container-lg large-screen">
                        <div class="med-container-L">
                            <div class="med-image"><img src="{{ url_for('static', filename='images/medications/calcium_vial.jpg') }}"></div>
                        </div>
                        <div class="med-container-R">
                            <div class="med-info-group">
                                <div class="med-info-title">Indications:</div>
                                <div class="med-info-sub-item">Hyperkalemia</div>
                                <div class="med-info-sub-item">Calcium Channel Blocker Overdose</div>
                                <div class="med-info-sub-item">PEA Arrest</div>
                                <div class="med-info-sub-item">Refractory ventricual fibrillation</div>
                                <div class="med-info-sub-item">Hypotension or respiratory depression due to magnesium toxicity</div>
                            </div>
                            <div class="med-info-group">
                                <div class="med-info-title">Contraindications:</div>
                                <div class="med-info-sub-item">Known hypersensitivity reaction</div>
                                <div class="med-info-sub-item">Digoxin (Lanoxin®) toxicity</div>
                            </div>
                            <div class="med-info-group">
                                <div class="med-info-title">How Supplied</div>
                                <div class="med-info-sub-item">2 grams (20 ml of 10% solution) IV</div>
                            </div>
                            <div class="med-info-group">
                                <div class="med-info-title">Mechanism of action:</div>
                                <div class="med-info-sub-item">Hyperkalemia: increases the myocardial threshold potential, restoring normal gradient</div>
                            </div>
                        </div>
                </div>  
                <div class="med-container small-screen">
                    <div class="med-image"><img src="{{ url_for('static', filename='images/medications/calcium_vial.jpg') }}"></div>
                        <div class="med-info-group">
                            <div class="med-info-title">Indications:</div>
                            <div class="med-info-sub-item">Hyperkalemia</div>
                            <div class="med-info-sub-item">Calcium Channel Blocker Overdose</div>
                            <div class="med-info-sub-item">PEA Arrest</div>
                            <div class="med-info-sub-item">Refractory ventricual fibrillation</div>
                            <div class="med-info-sub-item">Hypotension or respiratory depression due to magnesium toxicity</div>
                        </div>
                        <div class="med-info-group">
                            <div class="med-info-title">Contraindications:</div>
                            <div class="med-info-sub-item">Known hypersensitivity reaction</div>
                            <div class="med-info-sub-item">Digoxin (Lanoxin®) toxicity</div>
                        </div>
                        <div class="med-info-group">
                            <div class="med-info-title">How Supplied</div>
                            <div class="med-info-sub-item">2 grams (20 ml of 10% solution) IV</div>
                        </div>
                        <div class="med-info-group">
                            <div class="med-info-title">Mechanism of action:</div>
                            <div class="med-info-sub-item">Hyperkalemia: increases the myocardial threshold potential, restoring normal gradient</div>
                        </div>
                    </div> 
                
                <div class="medication-dose-group">
                    <div>
                    <div class="med-info-title">Dose for Current Pt:</div>
                        {% if ptYears %}
                                {% if ptAdult %}
                                        <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            <ul>
                                                <li>Adult: <b style="color:#f4b02a;font-weight:500">2 grams (20 ml of 10% solution) IV</b></li>
                                            </ul>
                                {% else %}
                                    {% if ptMax100 %}
                                            <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <b style="color:#f4b02a">2 grams (20 ml of 10% solution) IV</b></li></ul>
                                    {% else %}
                                            <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            <ul><li>Pediatric: <b style="color:#f4b02a;font-weight:500">{{ '%0.2f'| format((ptKgs * 2)/100) }}g IV; &nbsp or {{(ptKgs * 20)/100 }} ml</b></li></ul>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                            {% endif %}
                    </div>
                    <hr>
                    <div class="dose-item">
                        <b>Dose Adult</b>
                        <thing>2 grams (20 ml of 10% solution) IV</thing>
                    </div>
                    <div class="dose-item">
                        <b>Dose Pediatric</b>
                        <thing>20 mg/kg IV = 0.2 ml/kg (<b style="color:#D2042D;font-weight:600">maximum 2 grams of 10% solution; 20ml)</b></thing>
                    </div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Adverse Effects</div>
                    <div class="med-info-sub-item">Bradycardia</div>
                    <div class="med-info-sub-item">Hypotension</div>
                </div> 
                <div class="med-info-group">
                    <div class="med-info-title">Protocols Utilizing</div>
                    <div class="med-info-sub-item"><a href="#">Cardiac Arrest</a></div>
                    <div class="med-info-sub-item"><a href="#">Heart Problems</a></div>
                    <div class="med-info-sub-item"><a href="#">Overdose</a></div>
                    <div class="med-info-sub-item"><a href="#">Crush Injury</a></div>
                    <div class="med-info-sub-item"><a href="{{url_for('protocols.bites')}}">Bites and Envenomations</a></div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Administration</div>
                    <div class="med-info-sub-item">IV slow push over 2 minutes</div>
                </div>
            </div>
            <div class="img-dex-helper"><img src="{{ url_for('static', filename='images/medications/calcium_helper.jpg') }}"></div>
            <hr>
        </article>

</div>
{% endblock %}