{% extends "base.html" %}
{% block content %}

<div class="container1 content1">

        <article class="media content-section">
            <div class="container-squared">
                <div class="container2">
                    <h2><div class="article-title">Droperidol</div></h2>
                    <small class="text-muted">Inapsine®</small>
                    <hr>
                </div>
                <div class="med-container-lg large-screen">
                        <div class="med-container-L">
                            <div class="med-image"><img src="{{ url_for('static', filename='images/medications/droperidol.jpg') }}"></div>
                        </div>
                        <div class="med-container-R">
                            <div class="med-info-group">
                                <div class="med-info-title">Indications:</div>
                                <div class="med-info-sub-item">Sedation of combative/violent patient for patient &/or provider safety (BARS=7)</div>
                                <div class="med-info-sub-item">Attempt verbal de-escalation prior to administration</div>
                            </div>
                            <div class="med-info-group">
                                <div class="med-info-title">Contraindications:</div>
                                <div class="med-info-sub-item">Known hypersensitivity reaction</div>
                                <div class="med-info-sub-item">Known prolonged QTc interval</div>
                            </div>
                            <div class="med-info-group">
                                <div class="med-info-title">Mechanism of action:</div>
                                <div class="med-info-sub-item">Antipsychotic</div>
                                <div class="med-info-sub-item">Dopamine (D2) antagonist</div>
                            </div>
                            <div class="med-info-group">
                                <div class="med-info-title">How Supplied</div>
                                <div class="med-info-sub-item">5mg in 2ml (2.5 mg per ml)</div>
                            </div>
                        </div>
                </div>  
                <div class="med-container small-screen">
                    <div class="med-image"><img src="{{ url_for('static', filename='images/medications/droperidol.jpg') }}"></div>    
                    <div class="med-info-group">
                        <div class="med-info-title">Indications:</div>
                        <div class="med-info-sub-item">Sedation of combative/violent patient for patient &/or provider safety (BARS=7)</div>
                        <div class="med-info-sub-item">Attempt verbal de-escalation prior to administration</div>
                    </div>
                    <div class="med-info-group">
                        <div class="med-info-title">Contraindications:</div>
                        <div class="med-info-sub-item">Known hypersensitivity reaction</div>
                        <div class="med-info-sub-item">Known prolonged QTc interval</div>
                    </div>
                    <div class="med-info-group">
                        <div class="med-info-title">Mechanism of action:</div>
                        <div class="med-info-sub-item">Antipsychotic</div>
                        <div class="med-info-sub-item">Dopamine (D2) antagonist</div>
                    </div>
                    <div class="med-info-group">
                        <div class="med-info-title">How Supplied</div>
                        <div class="med-info-sub-item">5mg in 2ml (2.5 mg per ml)</div>
                    </div>
                </div>
                <div class="medication-dose-group">
                    <div>
                        {% if keys.ptYears > 0 %}
                            <div class="med-info-title">Dose for Current Pt:</div>
                                {% if keys.ptAdult %}
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            <ul>
                                                <li>Adult: <thing style="color:#f4b02a;font-weight:500">2.5 - 5 mg IM;</dose>&emsp;or&emsp;<dose style="color:#f4b02a;font-weight:500">1 - 2 ml</thing></li>
                                                <li>&emsp; <thing style="color:#f4b02a;font-weight:500">May repeat x1 (maximum total dosage 10 mg)</thing></li>
                                            </ul>
                                {% else %}
                                    <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                    <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">Must Contact </b><a FIXME: href="#" FIXME:>Medical Control Ring Central</a></li></ul>
                                {% endif %}
                            <hr>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="dose-item">
                        <b>Dose Adult</b><br>
                        <div>2.5 - 5 mg IM</div>
                        <div>May repeat x1 (maximum total dosage 10 mg)</div>
                    </div>
                    <div class="dose-item">
                        <b>Dose Pediatric</b><br>
                        <div><b style="color:#D2042D;font-weight:600">Contact Medical Control</b></div>
                    </div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Adverse Effects</div>
                    <div class="med-info-sub-item">Chest pain/palpitations</div>
                    <div class="med-info-sub-item">QT prolongation</div>
                    <div class="med-info-sub-item">Neuroleptic malignant syndrome</div>
                    <div class="med-info-sub-item">Somnolence, dysphoria, anxiety</div>
                    <div class="med-info-sub-item">Akathisia (feeling of tremulousness, restlessness, inability to sit still)</div>
                    <div class="med-info-sub-item">Hypotension</div>
                    <div class="med-info-sub-item">Tachycardia</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Protocols Utilizing</div>
                    <div class="med-info-sub-item"><a FIXME: href="" FIXME:>Psychiatric / Behavioral</a></div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Caveats</div>
                    <div class="med-info-sub-item">For clinical care use only</div>
                    <div class="med-info-sub-item">Not to be administered for law enforcement purposes or request</div>
                    <div class="med-info-sub-item">ETCO<sub>2</sub> monitor via nasal cannula must be utilized</div>
                    <div class="med-info-sub-item">SpO<sub>2</sub> monitoring must be utilized</div>
                    <div class="med-info-sub-item">Continuous ECG monitoring must be utilized</div>
                    <div class="med-info-sub-item">With any utilization, documentation must include clear indications for administration</div>
                </div>
            </div>
            <hr>
        </article>

</div>
{% endblock %}