{% extends "base.html" %}
{% block content %}

<div class="container1 content1">

        <article class="media content-section">
            <div class="container-squared">
                <div class="container2">
                    <h2><div class="article-title">Glucagon</div></h2>
                    <small class="text-muted">GlucaGen®</small>
                    <hr>
                </div>
                <div class="med-imgs-group">
                    <div class="med-image dual"><img src="{{ url_for('static', filename='images/medications/glucagon.jpg') }}"></div>
                </div>                       
                <div class="med-info-group">
                    <div class="med-info-title">Indications:</div>
                    <div class="med-info-sub-item">Hypoglycemia in patients without IV access</div>
                    <div class="med-info-sub-item">Altered mental status and unknown glucose level</div>
                    <div class="med-info-sub-item">Hypotension secondary to beta-blocker or calcium channel blocker overdose</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Contraindications:</div>
                    <div class="med-info-sub-item">Known hypersensitivity reaction</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Mechanism of action:</div>
                    <div class="med-info-sub-item">Promotes hepatic conversion of glycogen to glucose (glycogenolysis)</div>
                    <div class="med-info-sub-item">Stimulates glucose synthesis (gluconeogenesis)</div>
                    <div class="med-info-sub-item">Inhibits glucose breakdown (glycolysis)</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">How Supplied</div>
                    <div class="med-info-sub-item">1 mg powder vial with 1 ml sterile water vial</div>
                </div>
                <div class="medication-dose-group">
                    <div>
                        {% if ptYears %}
                            <div class="med-info-title">Dose for Current Pt:</div>
                                {% if ptAdult %}
                                        <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            <ul>
                                                <li>Adult: <dose style="color:#f4b02a;font-weight:500">1 mg IM</dose></li>
                                            </ul>
                                {% else %}
                                        <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            {% if ptMax20 %}
                                                    <ul>
                                                        <li>Pediatric: <dose style="color:#f4b02a;font-weight:500">1 mg IM</dose></li>
                                                    </ul>
                                            {% else %}
                                                    <ul>
                                                        <li>Pediatric: <dose style="color:#f4b02a;font-weight:500">0.5 mg IM</dose></li>
                                                    </ul>
                                            {% endif %}
                                {% endif %}
                        <hr>
                        {% else %}
                        {% endif %}
                     </div>       
                    <div class="dose-item">
                        <b>Dose Adult</b>
                        <ul><li>1 mg IM</li></ul>
                    </div>
                    <div class="dose-item">
                        <b>Dose Pediatric </b>                        
                            <ul>
                                <li>&le; 20 kg: 0.5 mg IM</b></li>
                                <li>&lt; 20 kg: 1 mg IM</b></li>
                            </ul>
                    </div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Administration</div>
                    <div class="med-info-sub-item">Utilizing the vial of sterile water, reconstitute glucagon powder</div>
                    <div class="med-info-sub-item">1 mg in 1 ml</div>
                    <div class="med-info-sub-item">Withdraw reconstituted glucagon and administer IM</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Adverse Effects</div>
                    <div class="med-info-sub-item">Hypotension</div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Protocols Utilizing</div>
                    <div class="med-info-sub-item"><a href="{{url_for('protocols.allergy')}}">Allergic Reaction</a></div>
                    <div class="med-info-sub-item">Altered Mental Status</div>
                    <div class="med-info-sub-item"><a FIXME:href=""FIXME:>Diabetic Problem</a> - Hypoglycemia</div>
                    <div class="med-info-sub-item"><a FIXME:href=""FIXME:>Overdose</a> (higher dosage)</div>
                    <div class="med-info-sub-item"><a FIXME:href=""FIXME:>Sick Person</a></div>
                    <div class="med-info-sub-item"><a FIXME:href=""FIXME:>Unknown Problem</a></div>
                </div>
                <div class="med-info-group">
                    <div class="med-info-title">Caveats</div>
                    <div class="med-info-sub-item">Limited utility in patients with poor glycogen stores
                    <ul>
                        <li>Severe liver disease</li>
                        <li>Severely malnourished</li>
                        <li>Newborns</li>
                    </ul>
                    </div>
                </div>
            <hr>
        </article>

</div>
{% endblock %}