{% extends "base.html" %}
{% block content %}
<div class="container content1">
    <div class="accordian">
        <H1>Abdominal Pain, Vomiting & Diarrhea</H1><hr>
        <div>
            <input type="checkbox" name="accordian" id=" abdominalNarrative" class="accordian__input" {% if current_user.showNarrative %}checked="checked"{% endif %}>
            <label for=" abdominalNarrative" class="accordian__label">Narrative Protocol</label>
            <div class="narrativeSection">
                <H3>Differential Diagnosis</H3>
                    <ul class="differentialText">
                        <li> Abdominal aortic aneurysm</li>
                        <li> Appendicitis</li>
                        <li> Bowel obstruction</li>
                        <li>  Cholelithiasis / cholecystitis </li>
                        <li> Constipation </li>
                        <li> Diverticulitis </li>
                        <li> DKA </li>
                        <li> Dysmenorrhea </li>
                        <li> Gastritis </li>
                        <li> Gastroenteritis </li>
                        <li> Hepatitis </li>
                        <li> Hernia </li>
                        <li> Ischemic bowel </li>
                        <li> Kidney stone </li>
                        <li> Myocardial infarction / ischemia </li>
                        <li> Pancreatitis </li>
                        <li> Pelvic (ovarian cyst, PID) </li>
                        <li> Peptic ulcer disease </li>
                        <li> Pneumonia </li>
                        <li> Pregnancy </li>
                        <li> Pyloric stenosis </li>
                        <li> Substance abuse </li>
                        <li> Trauma </li>
                        <li> Urinary tract infection </li>
                    </ul><hr>
                <h3>Clinical Presentation</h3>
                    <p class="presentationText">
                        <ul>
                            <li> History considerations </li>
                                <ul>
                                    <li> Age </li>
                                    <li> Past medical history </li>
                                    <li> Past surgical history </li>
                                    <li> Medications </li>
                                    <li> OB/Gynecological history </li>
                                        <ul>
                                            <li> Gravida </li>
                                            <li> Parity </li>
                                            <li> LMP </li>
                                        </ul>
                                    <li>  Travel outside of U.S </li>
                                </ul>
                            <li>  Duration, location, character of pain </li>
                            <li> Associated symptoms </li>
                                <ul>
                                    <li> Anorexia </li>
                                    <li> Constipation </li>
                                    <li> Fever </li>
                                    <li> Medications </li>
                                    <li> Hematemesis, hematochezia, melena </li>
                                    <li> Nausea, vomiting </li>
                                </ul>
                            <li>  Aggravation or alleviating factors </li>
                            <li> Physical exam </li>
                                <ul>
                                    <li> Focused abdominal exam </li>
                                        <ul>
                                            <li> Inspect for prior incision scars </li>
                                            <li> Auscultate bowel sounds (increase with obstruction), bruit (AAA) </li>
                                            <li> Palpation for area of tenderness and possible related peritoneal signs </li>
                                        </ul>
                                    <li> Further exam as indicated by history </li>
                                </ul>
                        </ul>
                    </p><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id=" abdominalBasicTreatment" class="accordian__input" {% if current_user.showBasic %}checked="checked"{% endif %}>
            <label for=" abdominalBasicTreatment" class="accordian__label">BLS Treatment</label>                
            <div class="basicTreatmentSection">
                <h3>Basic Medical Care</h3>
                <p class="basicCare orderedList">
                    <ol>
                        <li><a FIXME:href=""FIXME:>Medical Initial Assessment Protocol</a></li>
                        <li>Assess vital signs</li>
                        <li>Provide supplemenmtal oxygen per patient condition to maintain SpO<sub>2</sub> = 94 - 97%</li>
                        <li> Provide assisted ventilations with bag-valve mask and 100% oxygen if breathing or ventilatory compromise is apparent </li>
                        <li>  Assess blood glucose level </li>
                            <ul>
                                <li>Administer oral glucose if patient hypoglycemic and alert with intact gag reflex
                            </ul>
                        <li> Pain control: <a href="{{url_for('medications.nitrous')}}">Nitrous Oxide</a> via patient-controlled inhalation </li>
                            <ul>
                                <li> <b style="color:#D2042D;font-weight:600">Contraindicated if there is concern for bowel obstruction</b>
                            </ul>
                    </ol>
                </p><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id=" abdominalAdvancedTreatment" class="accordian__input" {% if current_user.showAdvanced %}checked="checked"{% endif %}>
            <label for=" abdominalAdvancedTreatment" class="accordian__label">ALS Treatment</label>
            <div class="advancedTreatmentSection">
                <h3>Advanced Medical Care</h3>
                    <p class="advancedCare orderedList">
                        <ol>
                            <li> 4-lead and refer to appropriate protocol as indicated </li>
                            <li> 12-lead ECG for patient presentation consistent with potential cardiac etiology </li>
                            <li><a FIXME:href=""FIXME:>IVF</a> bolus for signs of hypotension/dehydration
                                <ol>
                                    {% if ptYears %}
                                        {% if ptAdult %}
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                                    <ul><li>Adult: <dose style="color:#f4b02a;font-weight:500">500 - 1000 ml as per patient condition</dose></li></ul>
                                        {% else %}
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>                                      
                                                    <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">{{ ptKgs * 10 }} - {{ ptKgs * 20 }} ml</dose></li></ul>
                                        {% endif %}
                                    {% else %}
                                        <ol>                                                    
                                            <li> Adult: 500 - 1000 ml as per patient condition</li>
                                            <li>Pediatric: 10 - 20 ml/kg</li>
                                        </ol>
                                    {% endif %}
                                </ol>
                            </li>
                            <li> Reassess vital signs following IVF bolus </li>
                            <li><a href="{{url_for('medications.ondansetron')}}">Ondansetron (Zofran®)</a> for nausea/vomiting
                                {% if ptYears %}
                                    {% if ptAdult %}
                                        <ul>
                                            <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                            <ul><li>Adult: <thing style="color:#f4b02a;font-weight:500"> 4 - 8 mg PO, IV, IM</thing></li></ul>
                                        </ul>
                                    {% else %}
                                        {% if ptMax26 %}
                                            <ul>
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                                <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <thing style="color:#f4b02a"> 4 mg PO, IV, IM</thing></li></ul>
                                            </ul>
                                        {% else %}
                                            <ul>
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                                <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">{{ '%0.2f'| format(ptKgs * 3)/20 }}mg PO, IV, IM</dose></li></ul>
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                            {% else %}
                                <ol>
                                    <li> Adult: 4 - 8 mg PO, IV, IM </li>
                                    <li> Pediatric dose = 0.15 mg/kg PO, IV, IM (maximum 4 mg) </li>
                                </ol>                           
                            {% endif %}
                            </li>
                            <li><a href="{{url_for('medications.fentanyl')}}">Fentanyl (Sublimaze®)</a> for pain control
                                {% if ptYears %}
                                    {% if ptAdult %}
                                        {% if ptMax100 %}
                                            <ul>
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                                <ul>
                                                    <li> Adult: <dose style="color:#f4b02a;font-weight:500"> {{ ptKgs / 2 }} - <b style="color:#D2042D;font-weight:600">maximum</b> of 100 mcg </dose></li>
                                                    <li> May repeat x1 in 15 minutes as indicated (maximum 100 mcg) </li>
                                                </ul>
                                            </ul>
                                        {% else %}
                                            <ul>
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                                <ul>
                                                    <li> Adult: <dose style="color:#f4b02a;font-weight:500"> {{ ptKgs / 2 }} - {{ ptKgs * 1 }} mcg </dose></li>
                                                    <li> May repeat x1 in 15 minutes as indicated (maximum 100 mcg) </li>
                                                </ul>
                                            </ul>
                                        {% endif %}
                                    {% else %}
                                        {% if ptMax100 %}
                                            <ul>
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs): </div>
                                                <ul>
                                                    <li> Pediatric:  <dose style="color:#f4b02a;font-weight:500"> {{ ptKgs / 2 }} - <b style="color:#D2042D;font-weight:600">maximum</b> of 100 mcg </dose></li>
                                                    <li> Contact <a FIXME: href="#">Medical Control Ring Central</a> for repeat dosing </li>
                                                </ul>
                                            </ul>
                                        {% else %}
                                            <ul>
                                                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                                                <ul>
                                                    <li> Pediatric: <dose style="color:#f4b02a;font-weight:500"> {{ ptKgs / 2 }} - {{ ptKgs * 1 }} mcg </dose></li>
                                                    <li> Contact <a FIXME: href="#">Medical Control Ring Central</a> for repeat dosing </li>
                                                </ul>
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                            {% else %}
                                <ol>
                                    <li> Adult: </li>
                                        <ul>
                                            <li> 0.5 - 1 mcg/kg IV, IN, IM, IO (maximum 100 mcg)</li>
                                            <li> May repeat x1 in 15 minutes as indicated (maximum 100 mcg) </li>                                        
                                        </ul>
                                    <li> Pediatric: </li>
                                        <ul>
                                            <li> 0.5 - 1 mcg/kg IV, IN, IM, IO (maximum 100 mcg)</li>
                                            <li>  Contact <a FIXME: href="#">Medical Control Ring Central</a> for repeat dosing </li>                                        
                                        </ul>
                                </ol>                           
                            {% endif %}
                            </li>
                        </ol>
                    </p><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id=" abdominalAdditional" class="accordian__input" {% if current_user.showAdditional %}checked="checked"{% endif %}>
            <label for=" abdominalAdditional" class="accordian__label">Additional Information</label>
            <div class="additionalSection">
                <h3>Additional Considerations</h3>
                    <p>
                        <ul>
                            <li> All women of child-bearing age should be pregnant until proven otherwise
                                <ul><li>  Abdominal pain with syncope in female of child-bearing age should be considered an ectopic pregnancy until proven otherwise </li></ul>
                            </li>
                            <li>Patients with undiagnosed cause of pain or possible need for surgery should be NPO
                            </li>
                            <li>Consider cardiac etiology of symptoms especially in patients > 50 years of age, history of diabetes, and/or women with upper abdominal complaints
                                <ul><li>  “Indigestion” may be the angina equivalent for myocardial ischemia </li></ul>
                            </li>
                            <li> Older patients with abdominal pain, especially those that are hemodynamically unstable, should be considered critical until proven otherwise
                                <ul><li>   Consider abdominal aortic aneurysm (AAA) </li></ul>
                                    <ul>
                                        <li> Age > 50-years </li>
                                        <li> Bruit on auscultation </li>
                                        <li> Diminished femoral pulses </li>
                                        <li> Lower extremity pain </li>
                                        <li> Pulsatile intra-abdominal mass</li>
                                    </ul>
                            </li>
                            <li> Vomiting may be the presenting symptom of serious non-GI tract pathologies, consider:
                                <ul>
                                    <li> CNS process </li>
                                    <li> Diabetic ketoacidosis (DKA) </li>
                                    <li> Myocardial ischemia/infarction </li>
                                    <li> Poisoning </li>
                                        <ul>
                                            <li> Carbon monoxide </li>
                                            <li> Organophosphate </li>
                                        </ul>
                                </ul>
                            </li>
                            <li>Differential diagnosis per pain location (presentations may vary)
                            </li>
                            <img class="proto-image" src="{{ url_for('static', filename='images/protocol/abdominal_helper.jpg') }}" alt="abdominalPain">
                        </ul>
                    </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}