{% extends "base.html" %}
{% block content %}
<div class="container content1">
    <div class="accordian">
        <H1>Allergic Reaction</H1><hr>
        <div>
            <input type="checkbox" name="accordian" id="allergicNarrative" class="accordian__input" {% if current_user.showNarrative %}checked="checked"{% endif %}>
            <label for="allergicNarrative" class="accordian__label">Narrative Protocol</label>
            <div class="narrativeSection">
                <H3>Objective</H3>
                    <ul class="objectivelist">
                        <li>Restore and maintain optimal respiratory and cardiovascular status</li>
                        <li>Limit further exposure to allergen</li>
                        <li>Limit recurrent symptoms</li>
                    </ul>
                <hr>
                <h3>Introduction</h3>
                    <div class="introText">
                        <ul>
                            <li>True anaphylaxis is a severe systemic reaction to an allergen causing a massive release 
                                of histamine and other chemical mediators
                            </li>
                            <li> Although anything can cause anaphylaxis, the most common offenders include:
                                <ul>
                                    <li>Antibiotics (penicillins, sulfa, vancomycin)</li>
                                    <li>Aspirin</li>
                                    <li>Bee stings</li>
                                    <li>Contrast dye</li>
                                    <li>Foods (i.e. peanuts, shellfish)</li>
                                    <li>NSAID's</li>
                                </ul>
                            </li>
                            <li>Anaphylaxis may cause:
                                <ul>
                                    <li>Generalized urticaria and pruritus</li>
                                    <li>Hypotension due to vasodilation</li>
                                    <li>Respiratory distress due to Bronchospasm</li>
                                    <li>Upper airway obstruction due to edema</li>
                                </ul>
                            </li>
                        </ul><br>
                    </div>
                <h3>Clinical Presentation</h3>
                        <ul class="presentationText">
                            <li>Difficulty breathing, swallowing</li>
                            <li>Exposure to allergen (may not be realized)</li>
                            <li>Hypotension</li>
                            <li>Nausea and vomiting</li>
                            <li>Possible anxiety or agitation</li>sub
                            <li>Urticaria with or without pruritus</li>
                            <li>Rapidly progressing upper airway edema with stridor, increased secretions, dysphagia</li>
                            <li>Wheezing</li>
                        </ul><br>
                <h3>Differential Diagnosis</h3>
                        <ul class="differentialText">
                            <li>Angioedema</li>
                            <li>Aspiration / airway obstruction</li>
                            <li>Asthma / COPD</li>
                            <li>Cardiac dysrhtymia</li>
                            <li>Congestive heart failure</li>
                            <li>Pulmonary embolus</li>
                            <li>Shock</li>
                        </ul><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id="allergicBasicTreatment" class="accordian__input" {% if current_user.showBasic %}checked="checked"{% endif %}>
            <label for="allergicBasicTreatment" class="accordian__label">BLS Treatment</label>                
            <div class="basicTreatmentSection">
                <h3>Basic Medical Care</h3>
                <p class="basicCare orderedList">
                    <ol>
                        <li><a FIXME:href=""FIXME:>Medical Initial Assessment Protocol</a> or <a FIXME:href=""FIXME:>Pediatric Initial Assessment Protocol</a></li>
                        <li>Assess vital signs</li>
                        <li>Provide supplemental oxygen per patient condition to maintain SpO<sub>2</sub> = 94 - 97%</li>
                        <li>Attempt to remove source of exposure (e.g. stinger) as possible</li>
                        <li><a href="{{url_for('medications.epinephrine')}}">Epinephrine (1:1000)</a> IM for any evidence of anaphylaxis
                            {% if keys.ptYears > 0 %}
                                {% if keys.ptAdult %}
                                    <ul>
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            <ul>
                                                <li>Adult: <dose style="color:#f4b02a;font-weight:500">0.3 mg</dose></li>
                                            </ul>
                                                <ul>
                                                    <li style="margin-left:20px">Consider decreasing dose to 0.15 mg IM in patients with coronary artery disease or patients > 55-years and CAD risk factors</li>
                                                </ul>
                                    </ul>
                                {% else %}
                                    <ul>
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>                                        
                                            <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">0.15mg IM</dose></li></ul>
                                    </ul>
                                {% endif %}
                            {% else %}
                                <ol>
                                    <li>Adult: 0.3 mg
                                        <ul><li>Consider decreasing dose to 0.15 mg IM in patients with coroinary artery disease or patients > 55-years and CAD risk factors</li></ul>
                                    </li>
                                    <li>Pediatric: 0.01 mg/kg IM</li>
                                </ol>
                            {% endif %}
                        </li>
                        
                        <li><a href="{{url_for('medications.albuterol')}}">Albuterol</a> for associated bronchospasm via hand-held or mask nebulizer:
                            {% if keys.ptYears > 0 %}
                                {% if keys.ptAdult %}
                                    <ul>
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                        <ul><li>Adult: <dose style="color:#f4b02a;font-weight:500">5 mg Nebulized</dose></li></ul>
                                            <ul><li style="margin-left:20px">Repeat <dose style="color:#f4b02a;font-weight:500">5 mg</dose> as indicated by patient's condition</li></ul>
                                    </ul>
                                {% else %}
                                    <ul>
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                        <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">2.5 - 5 mg Nebulized</dose></li></ul>
                                    </ul>
                                {% endif %}
                            {% else %}
                                <ol>
                                    <li>Adult: 5 mg
                                        <ul>
                                            <li>Repeat 5 mg as indicated by patient's condition</li>
                                        </ul>
                                    </li>
                                    <li>Pediatric: 2.5 - 5 mg</li>
                                </ol>
                            {% endif %}
                        </li>

                        <li><a href="{{url_for('medications.diphenhydramine')}}">Diphenhydramine (Benadryl®)</a> for uncomplicated allergic reaction (urticaria, flushing, itching only)
                            {% if keys.ptYears > 0 %}
                                {% if keys.ptAdult %}
                                    <ul>
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                        <ul><li>Adult: <dose style="color:#f4b02a;font-weight:500">50mg PO</dose></li></ul>
                                    </ul>
                                {% else %}
                                    {% if keys.ptMax50 %}
                                        <ul>
                                            <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <dose style="color:#f4b02a">50mg PO</dose></li></ul>
                                        </ul>
                                    {% else %}
                                        <ul>
                                            <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">{{ '%0.2f'| format(keys.ptKgs) }} mg PO</dose></li></ul>
                                                <ul><li><b style="color:#D2042D;font-weight:600">Contraindicated in children under 9 months</b></li></ul>
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <ol>
                                    <li>Adult - 50 mg PO</li>
                                    <li>Pediatric: > 9 months of age: 1 mg/kg PO (maximum 50 mg)</li>
                                </ol>                           
                            {% endif %}
                        </li>
                        

                    </ol>
                </p><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id="allergicAdvancedTreatment" class="accordian__input" {% if current_user.showAdvanced %}checked="checked"{% endif %}>
            <label for="allergicAdvancedTreatment" class="accordian__label">ALS Treatment</label>
            <div class="advancedTreatmentSection">
                <h3>Advanced Medical Care</h3>
                    <p class="advancedCare orderedList">
                        <ol>
                            <li>Uncomplicated allergic reaction (urticaria, flushing, itching only)
                                <ol>
                                    <li><a href="{{url_for('medications.diphenhydramine')}}">Diphenhydramine (Benadryl®)</a>; if not already administered
                                        {% if keys.ptYears > 0 %}
                                            {% if keys.ptAdult %}
                                                <ul>
                                                    <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                    <ul><li>Adult: <dose style="color:#f4b02a;font-weight:500">25 - 50mg PO, IV, IM</dose></li></ul>
                                                </ul>
                                            {% else %}
                                                {% if keys.ptMax50 %}
                                                    <ul>
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <dose style="color:#f4b02a">50mg PO, IV, IM</dose></li></ul>
                                                    </ul>
                                                {% else %}
                                                    <ul>
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">{{ '%0.2f'| format(keys.ptKgs) }}mg PO, IV, IM</dose></li></ul>
                                                            <ul><li><b style="color:#D2042D;font-weight:600">Contraindicated in children under 9 months</b></li></ul>
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                    {% else %}
                                        <ol>
                                            <li>Adult: 25 - 50 mg PO, IV, IM (maximum 50 mg)</li>
                                            <li>Pediatric: > 9 months of age: 1 mg/kg PO, IV, IM (maximum 50 mg)</li>
                                        </ol>                           
                                    {% endif %}
                                    </li>
                                    <li><a href="{{url_for('medications.dexamethasone')}}">Dexamethasone</a>
                                        {% if keys.ptYears > 0 %}
                                            {% if keys.ptAdult %}
                                                <ul>
                                                    <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul>
                                                            <li>Adult: <dose style="color:#f4b02a;font-weight:500">16 mg IV, PO</dose></li>
                                                        </ul>
                                                </ul>
                                            {% else %}
                                                {% if keys.ptMax26 %}
                                                    <ul>
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <dose style="color:#f4b02a">16 mg IV, PO</dose></li></ul>
                                                    </ul>
                                                {% else %}
                                                    <ul>
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">{{ '%0.2f'| format(keys.ptKgs * 0.6) }} mg IV, PO</dose></li></ul>
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <ol>
                                                <li>Adult: 16 mg IV, PO</li>
                                                <li>Pediatric: .6mg/kg IV, PO (maximum 16 mg)</li>
                                            </ol>
                                        {% endif %}
                                    </li>
                                </ol>
                            </li>
                            <li>For any evidence of anaphylaxis
                                <ol>
                                    <li><a href="{{url_for('medications.epinephrine')}}">Epinephrine (1:1000)</a>
                                        {% if keys.ptYears > 0 %}
                                            {% if keys.ptAdult %}
                                                <ul>
                                                    <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul>
                                                            <li>Adult: <dose style="color:#f4b02a;font-weight:500">0.3 mg IM</dose></li>
                                                        </ul>
                                                            <ul>
                                                                <li>Consider decreasing dose to 0.15 mg IM in patients with coroinary artery disease or patients > 55-years and CAD risk factors</li>
                                                                <li style="margin-left:20px">May repeat every 5 - 10 minutes depending on patient response</li>
                                                            </ul>
                                                            
                                                </ul>
                                            {% else %}
                                                {% if keys.ptMax30 %}
                                                    <ul>
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <dose style="color:#f4b02a">0.3 mg IM</dose></li></ul>
                                                    </ul>
                                                {% else %}
                                                    <ul>
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                        <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">{{ '%0.2f'| format(keys.ptKgs * 0.01) }}mg IM</dose></li></ul>
                                                        <ul><li style="margin-left:20px">May repeat every 5 - 10 minutes depending on patient response</li></ul>
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                        <ol>
                                            <li>Adult: 0.3 mg IM
                                                <ul><li style="margin-left:20px">Consider decreasing dose to 0.15 mg IM in patients with coroinary artery disease or patients > 55-years and CAD risk factors</li></ul>
                                            </li>
                                            <li>Pediatric: 0.01 mg/kg IM (0.01 ml/kg); maximum 0.3 mg (0.3 ml)</li>
                                            <ul><li style="margin-left:20px">May repeat every 5 - 10 minutes depending on patient response</li></ul>
                                        </ol>
                                        {% endif %}
                                        
                                    </li>
                                    <li><a FIXME:href=""FIXME:>IVF</a> as indicated
                                        <ol>
                                            {% if keys.ptYears > 0 %}
                                                {% if keys.ptAdult %}
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                                            <ul>
                                                                <li>Adult: <dose style="color:#f4b02a;font-weight:500">wide open</dose></li>
                                                            </ul>
                                                {% else %}
                                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>                                      
                                                            <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">{{ '%0.2f'| format(keys.ptKgs * 20) }} ml</dose></li></ul>
                                                            <ul>
                                                                <li style="margin-left:20px">reassess and re-bolus as clinically indicated</li>
                                                            </ul>
                                                {% endif %}
                                            {% else %}
                                                <ol>                                                    
                                                    <li>Adult: wide open</li>
                                                    <li>Pediatric: 20 ml/kg and reassess, re-bolus as clinically indicated</li>
                                                </ol>
                                            {% endif %}
                                        </ol>
                                    </li>
                                    <li><a href="{{url_for('medications.diphenhydramine')}}">Diphenhydramine (Benadryl®)</a> & <a href="{{url_for('medications.dexamethasone')}}">Dexamethasone</a> as above, if not yet administered</li>

                                </ol>
                            </li>
                            
                            <li><a href="{{url_for('medications.albuterol')}}">Albuterol</a> for associated bronchospasm via hand-held or mask nebulizer:
                                {% if keys.ptYears > 0 %}
                                    {% if keys.ptAdult %}
                                        <ul>
                                            <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            <ul><li>Adult: <dose style="color:#f4b02a;font-weight:500">5 mg Nebulized</dose></li></ul>
                                                <ul><li style="margin-left:20px">Repeat <dose style="color:#f4b02a;font-weight:500">5 mg Nebulized</dose> as indicated by patient's condition</li></ul>
                                        </ul>
                                    {% else %}
                                        <ul>
                                            <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">2.5 - 5 mg Nebulized</dose></li></ul>
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <ol>
                                        <li>Adult: 5 mg
                                            <ul>
                                                <li>Repeat 5 mg as indicated by patient's condition</li>
                                            </ul>
                                        </li>
                                        <li>Pediatric: 2.5 - 5 mg</li>
                                    </ol>
                                {% endif %}
                            </li>
                            <li><a FIXME:href=""FIXME:>Airway: Adult</a> or  <a FIXME:href=""FIXME:>Airway: Pediatric Protocol</a></li>
                            <li>Advanced Airway management as indicated>
                                <ol>
                                    <li><a FIXME:href=""FIXME:>Airway: Intubation Protocol</a></li>
                                    <li><a FIXME:href=""FIXME:>Airway: BIAD Protocol</a></li>
                                </ol>
                            </li>
                            <li>Ensure proper tube placement using capnometry, SpO<sub>2</sub> and ventilate with 100% oxygen</li>
                        </ol>
                    </p><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id="allergicAdditional" class="accordian__input" {% if current_user.showAdditional %}checked="checked"{% endif %}>
            <label for="allergicAdditional" class="accordian__label">Additional Information</label>
            <div class="additionalSection">
                <h3>Additional Considerations</h3>
                    <p>
                        <ul>
                            <li>Epinephrine is the drug of choice and the first drug that should be administered in acute anaphylaxis (any Moderate / Severe Symptoms)
                                <ul><li>Epinephrine should be administered in priority before attempts at IV or IO access</li></ul>
                            </li>
                            <li>Anaphylaxis is a clinical diagnosis based on typical systemic manifestations</li>
                            <li> Cardiovascular effects result from decreased vascular tone and capillary leakage
                                <ul><li> Hypotension, cardiac arrhythmias, syncope, and shock can result from intravascular volume loss, vasodilation, and myocardial dysfunction</li></ul>
                            </li>
                            <li> Anaphylaxis symptoms may include
                                <ul>
                                    <li>Altered mental status</li>
                                    <li>Altered voice</li>
                                    <li>Difficulty swallowing</li>
                                    <li>Hypotension</li>
                                    <li>Respiratory distress</li>
                                    <li>Sensation of throat swelling</li>
                                </ul>
                            </li>
                            <li> Allergic reactions may occur with only respiratory or gastrointestinal symptoms and have no rash / skin involvement</li>
                            <li> Angioedema is seen in moderate to severe reactions and involves swelling of the face, lips or airway structures
                                <ul><li>May be seen in patients taking Angiotensin Converting Enzyme Inhibitors (ACE-I)
                                    <ul><li>lisinopril (Prinivil®, Zestril®) benazepril (Lotensin®), captopril (Capoten®)</li></ul>
                                </li></ul>
                            </li>
                            <li> Hereditary Angioedema involves swelling of the face, lips, airway structures, extremities, and may cause moderate to severe abdominal pain
                                <ul>
                                    <li> Some patients are prescribed specific medications to aid in reversal of swelling
                                        <ul><li> Ecallantide (Kalbitor®)</li></ul>
                                    </li>
                                    <li> Paramedic may assist or administer this medication per patient's physician or package instructions</li>
                                </ul>
                            </li>
                        </ul>
                    </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}