{% extends "base.html" %}
{% block content %}
<div class="container content1">
    <div class="accordian">
        <H1>Electrocution</H1><hr>
        <div>
            <input type="checkbox" name="accordian" id=" electrocutionNarrative" class="accordian__input" {% if current_user.is_authenticated %}{% if current_user.showNarrative %}checked="checked"{% else %}{% endif %}{% else %}checked="checked"{% endif %}>
            <label for=" electrocutionNarrative" class="accordian__label">Narrative Protocol</label>
            <div class="narrativeSection">
                <H3>Current</H3>
                    <div class="objectivelist">
                        <ul>
                            <li>Alternating Current (AC)
                                <ul>
                                    <li>Lower voltage, household current</li>
                                    <li>Flow of electrons switches from positive to negative</li>
                                    <li>Tends to cause continuous muscle contraction (tetany), therefore longer exposure</li>
                                    <li>Cardiac arrest due to ventricular fibrillation</li>
                                </ul>
                            </li>
                            <li>Direct Current (DC)
                                <ul>
                                    <li>Higher voltage, power lines, lightning</li>
                                    <li>Flow of electrons in one direction</li>
                                    <li>Tends to cause single muscle spasm, therefore short exposure time and throw victim from the source</li>
                                    <li>Cardiac arrest due to asystole</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                <h3>Clinical Presentation</h3>
                    <div class="presentationText">
                        <ul>
                            <li>Cardiac dysrhythmia</li>
                            <li>Muscle pain</li>
                            <li>Variable wounds (external wounds can NOT be used to estimate extent of injury)</li>
                        </ul>
                    </div><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id=" electrocutionBasicTreatment" class="accordian__input" {% if current_user.is_authenticated %}{% if current_user.showBasic %}checked="checked"{% else %}{% endif %}{% else %}checked="checked"{% endif %}>
            <label for=" electrocutionBasicTreatment" class="accordian__label">BLS Treatment</label>                
            <div class="basicTreatmentSection">
                <h3>Basic Medical Care</h3>
                <div class="basicCare orderedList">
                    <ol>
                        <li> Confirm scene safety</li>
                        <li>Ensure a protective environment for yourself and the patient
                            <ol>
                                <li>For patient still near or in contact with electrical source, prepare for resuscitation once rescue is affected</li>
                                <li>Ensure power source is off prior to contact with the patient</li>
                            </ol>
                        </li>
                        <li><a FIXME:href="">Trauma Initial Assessment Protocol</a> or <a FIXME:href="">Pediatric Trauma Assessment Protocol</a></li>
                        <li>Maintain airway; suction as needed</li>
                        <li>Assess vital signs</li>
                        <li>Provide supplemental oxygen per patient condition to maintain SpO<sub>2</sub> = 94 - 97%</li>
                        <li>Provide assisted ventilations with bag-valve mask and 100% oxygen if breathing or ventilatory compromise is apparent</li>
                        <li>For suspected trauma to head or spine, protect and maintain control of the cervical spine, (with manual motion restriction), and the thoracolumbar spine until cervical collar placed and patient secured to the transport stretcher</li>
                        <li>Remove appropriate clothing to fully inspect for any potential injuries</li>
                        <li>Cover burned skin with a clean, dry sheet</li>
                        <li>Keep patient as warm as possible</li>
                        <li>Splint any long bone deformities or areas where crush injury has occurred</li>
                        <li>Consider additional blunt trauma as suggested by mechanism of injury</li>
                        <li><a href="{{url_for('medications.acetaminophen')}}"> Acetaminophen (Tylenol®)</a> for pain Control
                            {% if keys.ptYears > 0 %}
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }} kgs):</div>
                                {% if keys.ptAdult %}
                                    <ol>
                                        <li>Adult: <dose style="color:#f4b02a;font-weight:500"> 650 - 975 mg PO </dose></li>
                                    </ol>
                                {% else %}
                                    {% if keys.ptMax43 %}
                                        <ol>
                                            <li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <dose style="color:#f4b02a"> 650 mg PO</dose></li>
                                        </ol>
                                    {% else %}
                                        <ol>
                                            <li>Pediatric: <dose style="color:#f4b02a;font-weight:500"> {{'%0.2f'| format(keys.ptKgs * 15) }} mg PO</dose></li>
                                        </ol>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <ol>
                                    <li> Adult: 650 - 975 mg PO</li>
                                    <li> Pediatric: 15 mg/kg PO <b style="color:#D2042D;font-weight:600">(maximum 650 mg)</b>
                                    </li>
                                </ol>                           
                            {% endif %}
                        </li>
                        <li> Alternative pain control: <a href="{{url_for('medications.nitrous')}}">Nitrous Oxide </a>via patient-controlled inhalation </li>
                    </ol>
                </div><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id=" electrocutionAdvancedTreatment" class="accordian__input" {% if current_user.is_authenticated %}{% if current_user.showAdvanced %}checked="checked"{% else %}{% endif %}{% else %}checked="checked"{% endif %}>
            <label for=" electrocutionAdvancedTreatment" class="accordian__label">ALS Treatment</label>
            <div class="advancedTreatmentSection">
                <h3>Advanced Medical Care</h3>
                    <div class="advancedCare orderedList">
                        <ol>
                            <li>4-lead ECG and refer to appropriate protocol as indicated</li>
                            <li>12-lead ECG and refer to appropriate protocol as indicated</li>
                            <li>For ECG changes consistent with hyperkalemia
                                <ol>
                                    <li><a href="{{url_for('medications.calcium')}}">Calcium Gluconate</a>
                                        {% if keys.ptYears > 0 %}
                                        <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            {% if keys.ptAdult %}
                                                <ol>
                                                    <li>Adult: <dose style="color:#f4b02a;font-weight:500">2 grams  IV of 10% solution IV (20 ml)</dose></li>
                                                    <li>Repeat in 10 minutes as indicated by patient condition and rhythm</li>
                                                </ol>
                                            {% else %}
                                                {% if keys.ptMax100 %}
                                                    <ol>
                                                        <li>Pediatric <red><b> maximum dose </b></red>: <dose style="color:#f4b02a;font-weight:500">2 grams  IV of 10% solution IV (20 ml)</dose></li>
                                                        <li>Repeat in 10 minutes as indicated by patient condition and rhythm</li>
                                                    </ol>
                                                {% else %}
                                                    <ol>
                                                        <li>Pediatric: <dose style="color:#f4b02a;font-weight:500"> {{ '%0.2f'| format((keys.ptKgs*20)/1000) }} grams IV of 10% solution IV</dose></li>
                                                        <li>Repeat in 10 minutes as indicated by patient condition and rhythm</li>
                                                    </ol>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                        <ol>
                                            <li>Adult: 2 grams of 10% solution IV (20 ml)</li>
                                            <li>Pediatric: 20 mg/kg IO, IV (0.2 ml/kg); maximum 2 grams (20 ml)</li>
                                            <li>Repeat in 10 minutes as indicated by patient condition and rhythm</li>
                                        </ol>
                                        {% endif %}
                                    </li>
                                    <li><a href="{{url_for('medications.bicarb')}}">Sodium bicarbonate</a>
                                        {% if keys.ptYears > 0 %}
                                            <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            {% if keys.ptAdult %}
                                                <ol>
                                                    <li>Adult: <dose style="color:#f4b02a;font-weight:500"> 50 mEq (50 ml) IV, IO</dose></li>
                                                </ol>
                                            {% else %}
                                                {% if keys.ptMax50 %}
                                                    <ol>
                                                        <li>Pediatric<red><b> maximum dose </b></red>:<dose style="color:#f4b02a;font-weight:500"> 50 mEq (50 ml) IV, IO</dose></li>
                                                    </ol>
                                                {% else %}
                                                    <ol>
                                                        <li>Pediatric:<dose style="color:#f4b02a;font-weight:500"> {{ '%0.2f'| format(keys.ptKgs) }} mEq/ml IV, IO</dose></li>
                                                    </ol>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                        <ol>
                                            <li><a href="{{url_for('medications.bicarb')}}">Sodium bicarbonate</a>
                                                <ol>
                                                    <li>Adult: 50 mEq (50 ml) IV, IO</li>
                                                    <li>Pediatric: 1 mEq/kg (1 ml/kg); max 50 mEq (50 ml) IV, IO</li>
                                                </ol>
                                            </li>
                                        </ol>
                                        {% endif %}
                                    </li>
                                </ol>
                                    <li><a FIXME:href=""FIXME:>IVF</a> resuscitation
                                        {% if keys.ptYears > 0 %}
                                                    <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }}kgs):</div>
                                            {% if keys.ptAdult %}
                                                <ol>
                                                    <li>Hemodynamically unstable:<dose style="color:#f4b02a;font-weight:500"> IVF wide open</dose></li>
                                                    <li>Hemodynamically stable:<dose style="color:#f4b02a;font-weight:500"> IVF @ maintenance rate</dose></li>
                                                </ol>
                                            {% else %}                                     
                                                <ol>
                                                    <li>Hemodynamically unstable:<dose style="color:#f4b02a;font-weight:500"> {{ keys.ptKgs*20 }} ml bolus</dose></li>
                                                    <li>Hemodynamically stable:<dose style="color:#f4b02a;font-weight:500"> IVF @ maintenance rate</dose></li>
                                                </ol>
                                            {% endif %}
                                        {% else %}
                                            <ol>                                                    
                                                <li>Adult:
                                                    <ol>
                                                        <li>Hemodynamically unstable: IVF wide open</li>
                                                        <li>Hemodynamically stable: maintenance rate</li>
                                                    </ol>
                                                <li>Pediatric:
                                                    <ol>
                                                        <li>Hemodynamically unstable: 20 ml/kg bolus</li>
                                                        <li>Hemodynamically stable: maintenance rate</li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        {% endif %}
                                    </li>
                            </li>
                            <li><a href="{{url_for('medications.fentanyl')}}">Fentanyl (Sublimaze®)</a> for pain control
                                {% if keys.ptYears > 0 %}
                                    <div class="currentPatient">Current Pt ({{ keys.ptYears }} years, {{ keys.ptKgs }} kgs):</div>
                                    {% if keys.ptAdult %}
                                        {% if keys.ptMax100 %}
                                            <ol>
                                                <li> Adult: <dose style="color:#f4b02a;font-weight:500"> {{'%0.2f'| format(keys.ptKgs / 2) }} - <b style="color:#D2042D;font-weight:600">maximum</dose> of 100 mcg </b></li>
                                                <li> May repeat x1 in 15 minutes as indicated (maximum 100 mcg) </li>
                                            </ol>
                                        {% else %}
                                            <ol>
                                                <li> Adult: <dose style="color:#f4b02a;font-weight:500"> {{ '%0.2f'| format(keys.ptKgs / 2) }} - {{'%0.2f'| format(keys.ptKgs * 1) }} mcg </dose></li>
                                                <li> May repeat x1 in 15 minutes as indicated (maximum 100 mcg) </li>
                                            </ol>
                                        {% endif %}
                                    {% else %}
                                        {% if keys.ptMax100 %}
                                            <ol>
                                                <li> Pediatric:  <dose style="color:#f4b02a;font-weight:500"> {{'%0.2f'| format(keys.ptKgs / 2) }} - <b style="color:#D2042D;font-weight:600">maximum</dose> of 100 mcg </b></li>
                                                <li> Contact <a FIXME: href="#">Medical Control Ring Central</a> for repeat dosing </li>
                                            </ol>
                                        {% else %}
                                            <ol>
                                                <li> Pediatric: <dose style="color:#f4b02a;font-weight:500"> {{'%0.2f'| format(keys.ptKgs / 2) }} - {{'%0.2f'| format(keys.ptKgs * 1) }} mcg </dose></li>
                                                <li> Contact <a FIXME: href="#">Medical Control Ring Central</a> for repeat dosing </li>
                                            </ol>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <ol>
                                        <li> Adult: </li>
                                            <ul>
                                                <li> 0.5 - 1 mcg/kg IV, IN, IM, IO (maximum 100 mcg)</li>
                                                <li> May repeat x1 in 15 minutes as indicated (maximum 100 mcg) </li>                                        
                                            </ul>
                                        <li> Pediatric: </li>
                                            <ul>
                                                <li> 0.5 - 1 mcg/kg IV, IN, IM, IO (maximum 100 mcg)</li>
                                                <li>  Contact <a FIXME: href="#">Medical Control Ring Central</a> for repeat dosing </li>                                        
                                            </ul>
                                    </ol>                           
                                {% endif %}
                            </li>
                            <li>Advanced Airway management as indicated</li>
                                <ol>
                                    <li><a FIXME:href="#"FIXME:>Airway: Intubation Protocol</a> as indicated </li>
                                    <li><a FIXME:href="#"FIXME:>Airway: BIAD Protocol</a> as indicated </li>
                                </ol>
                            <li>Ensure proper tube placement using capnometry, SpO<sub>2</sub> and ventilate with 100% oxygen</li>
                        </ol>
                    </div><hr><br>
            </div>
        </div>
        <div>
            <input type="checkbox" name="accordian" id=" electrocutionAdditional" class="accordian__input" {% if current_user.is_authenticated %}{% if current_user.showAdditional %}checked="checked"{% else %}{% endif %}{% else %}checked="checked"{% endif %}>
            <label for=" electrocutionAdditional" class="accordian__label">Additional Information</label>
            <div class="additionalSection">
                <h3>Additional Considerations - Lightning</h3>
                <div>
                    <ul>
                        <li>Some victims who have been struck by lightning and have prolonged cardiac or respiratory arrest have been resuscitated with good clinical outcomes</li>
                        <li>It is imperative to continue ALS care until patient arrives at the hospital</li>
                        <li>Lightning strike should be suspected in all patients found to be confused, unconscious, in respiratory or cardiac arrest, or injured in the appropriate setting and conditions</li>
                        <li>Additional signs & symptoms:
                            <ul>
                                <li>Cool pulseless extremities secondary to vasospasm</li>
                                <li>Extremity paralysis/paresthesia</li>
                                <li>Lichtenberg figures [ferning - see below]</li>
                                <li>Tympanic membrane rupture</li>
                            </ul>
                        </li>
                        <li>Lightning strike involving multiple patients requires a reverse triaging technique
                            <ul>
                                <li>Patients awake, and breathing will not likely experience an acute dysrhythmia</li>
                                <li>Patients who are unresponsive should be evaluated initially and resuscitative measures instituted</li>
                            </ul>
                        </li>
                        <li>Typical series of events is cardiac arrest with apnea, patient's heart automaticity often restarts a perfusing rhythm, however neurologic control of breathing centers is delayed, and apnea continues resulting in a secondary cardiac arrest from hypoxia</li>
                        <li>Examples of Lichtenburg lines (ferning) from lightning strike</li>
                        <div class="proto-image">
                            <div><img src="{{ url_for('static', filename='images/protocol/electrocution1.jpg') }}" alt="Lichtenburg Lines 1"></div>
                            <div><img src="{{ url_for('static', filename='images/protocol/electrocution2.jpg') }}" alt="Lichtenburg Lines 2"></div>
                        </div>
                    </ul>
                </div>
                <h3>Additional Considerations - Electrical Shock</h3>
                <ul>
                    <li>Attempt to ascertain the voltage delivered, current type, duration of exposure, and the suspected pathway of the current through the body (based on entry and exit burns that may or may not be present)</li>
                    <li>Entrance wounds from electrical shocks appear as painless, sharp, well-demarcated, inflammatory lesion</li>
                    <li>Exit wounds are often described as having an “exploded” and more ragged appearance</li>
                    <li>Electrical burns that do not appear to be severe externally may have caused severe damage internally</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}