<!-- List Item; Adult Ped no Maxes -->
<!-- -->
<!-- -->
<li><a href="">DRUGNAMEHERE</a> INFOAFTERDRUGNAME
    {% if ptYears %}
        {% if ptAdult %}
            <ul>
                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                    <ul>
                        <li>Adult: <dose style="color:#f4b02a;font-weight:500">ADULTDOSEHERE</dose></li>
                    </ul>
                        <ul>
                            <li style="margin:5px">EXTRAMESSAGEHERE</li>
                        </ul>
            </ul>
        {% else %}
            <ul>
                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>                                        
                    <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">PEDIATRICDOSEHERE</dose></li></ul>
                    <ul>
                        <li style="margin:5px">EXTRAMESSAGEHERE</li>
                    </ul>
            </ul>
        {% endif %}
    {% else %}
        <ol>
            <li>Adult: ADULTDOSEHERE
                <ul><li>EXTRAMESSAGEHERE</li></ul>
            </li>
            <li>Pediatric: PEDIATRICDOSEHERE</li>
        </ol>
    {% endif %}
</li>

<!-- List Item; Adult no Max Ped with a Max dose -->
<!-- -->
<!-- -->
<li><a href="">DRUGNAMEHERE</a> INFOAFTERDRUGNAME
    {% if ptYears %}
        {% if ptAdult %}
            <ul>
                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                    <ul>
                        <li>Adult: <dose style="color:#f4b02a;font-weight:500">ADULTDOSEHERE</dose></li>
                    </ul>
                        <ul>
                            <li style="margin:5px">EXTRAMESSAGEHERE</li>
                        </ul>
            </ul>
        {% else %}
            {% if PTMAXVARIABLEHERE %}
                <ul>
                    <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                    <ul><li>Pediatric: <dose style="color:#D2042D;font-weight:600">maximum dose</b>; <b style="color:#f4b02a">PEDIATRICDOSEHERE</dose></li></ul>
                </ul>
            {% else %}
                <ul>
                    <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                    <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">CALCPEDIATRICDOSEHERE</dose></li></ul>
                </ul>
            {% endif %}
        {% endif %}
    {% else %}
        <ol>
            <li>Adult: ADULTDOSEHERE
                <ul><li>EXTRAMESSAGEHERE</li></ul>
            </li>
            <li>Pediatric: PEDIATRICDOSEHERE</li>
        </ol>
    {% endif %}
</li>

<!-- Protocol Medication Adult - Ped - Max Weight -->
<!-- -->
<!-- -->

<li><a href="">FIXME: MEDICATION NAME</a> FIXME: MEDICATION FOLLOWING TEXT
    {% if ptYears %}
        {% if ptAdult %}
            <ul>
                <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                <ul><li>Adult: <dose style="color:#f4b02a;font-weight:500">FIXME: ADULT DOSE AND ROUTE</dose></li></ul>
            </ul>
        {% else %}
            {% if FIXME: MAX VARIABLE ptMax50 FIXME: %}
                <ul>
                    <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                    <ul><li>Pediatric: <b style="color:#D2042D;font-weight:600">maximum dose</b>; <dose style="color:#f4b02a">FIXME: PED MAX DOSE AND ROUTE</dose></li></ul>
                </ul>
            {% else %}
                <ul>
                    <div class="currentPatient">Current Pt ({{ ptYears }} years, {{ ptKgs }}kgs):</div>
                    <ul><li>Pediatric: <dose style="color:#f4b02a;font-weight:500">FIXME: {{ ptKgs * 1 }}mg PO, IV, IM FIXME:</dose></li></ul>
                </ul>
            {% endif %}
        {% endif %}
{% else %}
    <ol>
        <li>FIXME: ADULT DOSE AND ROUTE</li>
        <li>FIXME: PEDIATRIC DOSE AND ROUTE</li>
    </ol>                           
{% endif %}
</li>

<!-- Format to 2 decimal points -->

{{ '%0.2f'| format((ptKgs)/100) }}

<!-- Initial Assessment LI line -->

<li><a FIXME:href=""FIXME:>Medical Initial Assessment Protocol</a> or <a FIXME:href=""FIXME:>Pediatric Initial Assessment Protocol</a></li>

<!-- Trauma Assessment LI line -->

<li><a FIXME:href="">Trauma Initial Assessment Protocol</a> or <a FIXME:href="">Pediatric Trauma Assessment Protocol</a></li>

<!-- IF ptYears -->

{% if keys.ptYears > 0 %}
{% else %}
{% endif %}

<!-- IF ptAdult -->

{% if keys.ptAdult %}
{% else %}
{% endif %}

<!-- Combined -->

{% if keys.ptYears > 0 %}
    {% if keys.ptAdult %}
    {% else %}
    {% endif %}
{% else %}
{% endif %}