{% extends "base.html" %}
{% block content %}
<div class="container content1">
    <div class="accordian">
        <H1>Useful Phone Numbers</H1><hr>
        <div>
            <input type="checkbox" name="accordian" id="supPhoneNarrative" class="accordian__input">
            <label for="supPhoneNarrative" class="accordian__label">Supervisor Phone Numbers</label>
            <div class="narrativeSection">
                <H3><dose style="color:#f4b02a;font-weight:500">Supervisor IDs and Phone Numbers</dose></H3>
                    <div class="phoneList">
                        <div><supID></supID></div><div><supName>Anaya, Shane</supName></div><div><supTel><a href="tel:7045621367">704-562-2367</a></supTel></div>
                        <div><supID>122</supID></div><div><supName>Baltimore, Dan</supName></div><div><supTel><a href="tel:9802974819">980-297-4819</a></supTel></div>
                        <div><supID>127</supID></div><div><supName>Baun, Josh</supName></div><div><supTel><a href="tel:9802866107">980-286-6107</a></supTel></div>
                        <div><supID>1221</supID></div><div><supName>Camarena, James</supName></div><div><supTel><a href="tel:7045790244">704-579-0244</a></supTel></div>
                        <div><supID>123</supID></div><div><supName>Crunk, John</supName></div><div><supTel><a href="tel:7046190764">704-619-0764</a></supTel></div>
                        <div><supID>1271</supID></div><div><supName>Kurc, Lizz</supName></div><div><supTel><a href="tel:7046219128">704-621-9128</a></supTel></div>
                        <div><supID></supID></div><div><supName>Elliot, Anna</supName></div><div><supTel><a href="tel:7045721315">704-572-1315</a></supTel></div>
                        <div><supID>1441</supID></div><div><supName>Geis, Daniel</supName></div><div><supTel><a href="tel:9803554276">980-355-4276</a></supTel></div>
                        <div><supID></supID></div><div><supName>Goodman, RJ</supName></div><div><supTel><a href="tel:7043878464">704-387-8464</a></supTel></div>
                        <div><supID>121</supID></div><div><supName>Gonzalez, Jose</supName></div><div><supTel><a href="tel:7048408410">704-840-8410</a></supTel></div>
                        <div><supID>1211</supID></div><div><supName>Harford, Robert</supName></div><div><supTel><a href="tel:9803554619">980-355-4619</a></supTel></div>
                        <div><supID></supID></div><div><supName>Jerrell, Christopher</supName></div><div><supTel><a href="tel:7049098845">704-909-8845</a></supTel></div>
                        <div><supID>1111</supID></div><div><supName>Kerley, Allison</supName></div><div><supTel><a href="tel:9803552013">980-355-2013</a></supTel></div>
                        <div><supID>125</supID></div><div><supName>Klass, Siobhan</supName></div><div><supTel><a href="tel:7045342191">704-534-2191</a></supTel></div>
                        <div><supID></supID></div><div><supName>Langevort, Jackson</supName></div><div><supTel><a href="tel:7043375831">704-337-5831</a></supTel></div>
                        <div><supID></supID></div><div><supName>McCarthy, Kelly</supName></div><div><supTel><a href="tel:7043519601">704-351-9601</a></supTel></div>
                        <div><supID>115</supID></div><div><supName>McGaha, Gabe</supName></div><div><supTel><a href="tel:7046613562">704-661-3562</a></supTel></div>
                        <div><supID>1261</supID></div><div><supName>Murphy, Jeremy</supName></div><div><supTel><a href="tel:9802669554">980-266-9554</a></supTel></div>
                        <div><supID>124</supID></div><div><supName>Philips, Kenny</supName></div><div><supTel><a href="tel:9802299246">980-229-9246</a></supTel></div>
                        <div><supID></supID></div><div><supName>Pirone, Nicholaus</supName></div><div><supTel><a href="tel:7043878520">704-387-8520</a></supTel></div>
                        <div><supID></supID></div><div><supName>Romero-DePalma, Ashley</supName></div><div><supTel><a href="tel:9803552307">980-355-2307</a></supTel></div>
                        <div><supID>113</supID></div><div><supName>Shue, Don</supName></div><div><supTel><a href="tel:7046218873">704-621-8873</a></supTel></div>
                        <div><supID>111</supID></div><div><supName>Simmons, Chris</supName></div><div><supTel><a href="tel:9802971674">980-297-1674</a></supTel></div>
                        <div><supID>117</supID></div><div><supName>Smith, Brian</supName></div><div><supTel><a href="tel:7049999171">704-999-9171</a></supTel></div>
                        <div><supID>114</supID></div><div><supName>Smith, Drew</supName></div><div><supTel><a href="tel:7046148568">704-614-8568</a></supTel></div>
                        <div><supID>1171</supID></div><div><supName>Stratton, Michael</supName></div><div><supTel><a href="tel:7045331926">704-533-1926</a></supTel></div>
                        <div><supID>116</supID></div><div><supName>Stroup, John</supName></div><div><supTel><a href="tel:9802146415">980-214-6415</a></supTel></div>
                        <div><supID>1241</supID></div><div><supName>Williams, Andy</supName></div><div><supTel><a href="tel:9803552291">980-355-2291</a></supTel></div>
                    </div><br>

                    <h3><dose style="color:#f4b02a;font-weight:500">Assistant Operations Managers</dose></h3>

                    <div class="phoneList">
                        <div><supID>202</supID></div><div><supName>Barrera, Luis</supName></div><div><supTel><a href="tel:7048040927">704-804-0927</a></supTel></div>
                        <div><supID>203</supID></div><div><supName>Carricker, Scottie</supName></div><div><supTel><a href="tel:7049995760">704-999-5760</a></supTel></div>
                        <div><supID>204</supID></div><div><supName>Ridenhour, Brandis</supName></div><div><supTel><a href="tel:9804022060">980-402-2060</a></supTel></div>
                        <div><supID>205</supID></div><div><supName>Lewis, Matt</supName></div><div><supTel><a href="tel:7045622390">704-562-2390</a></supTel></div>
                    </div><hr><br>
            </div>
        </div>
        
        <div>
            <input type="checkbox" name="accordian" id="ofcPhoneNarrative" class="accordian__input">
            <label for="ofcPhoneNarrative" class="accordian__label">Medic Offices and Departments</label>
            <div class="narrativeSection">
                <H3>Medic Offices and Departments</H3>
                    <div class="phoneListOffice">
                        <div><ofcName>OA Office</ofcName></div><div><ofcTel><a href="tel:7049436226">704-943-6226</a></ofcTel></div>
                        <div><ofcName>CMED</ofcName></div><div><ofcTel><a href="tel:7049436200">704-943-6200</a></ofcTel></div>
                        <div><ofcName>CMED - NET</ofcName></div><div><ofcTel><a href="tel:7049436190">704-943-6190</a></ofcTel></div>
                        <div><ofcName>Special Ops</ofcName></div><div><ofcTel><a href="tel:7049436232">704-943-6232</a></ofcTel></div>
                        <div><ofcName>IT</ofcName></div><div><ofcTel><a href="tel:7049436111">704-943-6111</a></ofcTel></div>
                        <div><ofcName>Logistics</ofcName></div><div><ofcTel><a href="tel:7049436152">704-943-6152</a></ofcTel></div>
                        <div><ofcName>Fleet</ofcName></div><div><ofcTel><a href="tel:7049439280">704-943-6280</a></ofcTel></div>
                        <div><ofcName>Clinical Improvement</ofcName></div><div><ofcTel><a href="#">clinicalimprovement@medic911.com</a></ofcTel></div>
                    </div><hr><br>
            </div>
        </div>

        <div>
            <input type="checkbox" name="accordian" id="otherPhoneNarrative" class="accordian__input" checked="checked">
            <label for="otherPhoneNarrative" class="accordian__label">Other Important Numbers</label>
            <div class="narrativeSection">
                <H3>Other Important Numbers</H3>
                    <div><dose style="color:#f4b02a;font-weight:500">CPS - Child Protective Services</dose>  
                        <div class="add-margin-L"><i>(There is a legal requirement to report any suspicion of child abuse)</i></div>
                        <ul>
                            <li><a href="tel:9803146577">980-314-3577</a></li>
                            <li>Online Reporting Tool: <a href="www.MeckNC.gov/CPSReportOnline">www.MeckNC.gov/CPSReportOnline</a></li>
                        </ul>                
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">DSS - Department of Social Services</dose>
                        <div class="add-margin-L"><i>(There is a legal requirement to report any suspicion of elder abuse or neglect)</i></div>
                        <ul>
                            <li><a href="tel:7043362276">704-336-2276</a></li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">Atrium CMC Labor & Delivery</dose>
                        <ul>
                            <li>Call CMED @ <a href="tel:7049436200">704-943-6200</a> for recorded line</li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">Atrium Main ED</dose>
                        <ul>
                            <li><a href="tel:7043552157">704-355-2157</a></li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">Novant Main ED</dose>
                        <ul>
                            <li><a href="tel:7043845160">704-384-5160</a></li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">National Human Trafficking Resource Center</dose>
                        <div class="add-margin-L"><i>(For any suspicion of human trafficking)</i></div>
                        <ul>
                            <li><a href="tel:8883737888">888-373-7888</a></li>
                            <li><a href="sms:233733">Text: 233733</a></li>
                            <li>Report any suspicion of human trafficking to the receiving physician and nursing staff</li>
                            <li>If transported to Atrium CMC:  Page the human trafficking counselor @ pager #5180 upon transfer of the patient</li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">Department of Homeland Security</dose>
                        <ul>
                            <li><a href="tel:8663472423">866-347-2423</a></li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">National Center for Missing & Exploited Children</dose>
                        <ul>
                            <li><a href="tel:8008435678">800-843-5678</a></li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">Federal Bureau of Investigation</dose>
                        <ul>
                            <li><a href="tel:8002255324">800-225-5324</a></li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">North Carolina Poison Control</dose>
                        <ul>
                            <li><a href="tel:7043554000">704-355-4000</a></li>
                        </ul>
                    </div><hr>

                    <div><dose style="color:#f4b02a;font-weight:500">Hearts for the Invisible</dose>
                        <div class="add-margin-L"><i>Charlotte's homeless street outreach program</i></div>
                        <ul>
                            <li><a href="tel:7942698060">794-296-8060</a></li>
                        </ul>
                    </div><hr>

            </div>
        </div>

    </div>
</div>
{% endblock %}