@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil');

body {
    margin: 0;
    padding: 0;
    color: var(--light-txt);
    background-color: var(--blue-bg);
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
   color: var(--teal-accent);
   text-decoration: none;
}

:root {
    --blue-bg: #293949;
    --dark-bg:  #23313f;
    --teal-accent: #1abc9c;
    --light-txt: #aeb2b7;
    --fifty-border: #aeb2b750;
    --light-offset: #f4b02a;
    --header-height: 50px;
    --sidebar-width-open: 265px;
    --sidebar-width: 60px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
 }


 .header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--blue-bg);
    box-shadow:  0 1px 10px 0 rgba(0, 0, 0, .4);
    padding: 0.5rem, 0.5rem;
    padding: 0 5px;
    height: var(--header-height);
    font-size: 20px;
    color: var(--light-txt);
    z-index: 1; /* Stay on top */
 }

 .pt-info-div {
   font-size: 10px;
   display: flex;
   padding-left: 2rem;
   gap: 0.2rem;
   flex-wrap: nowrap;
   justify-content: right;
   background: none;
   border: none;
   text-decoration: none;
   color: var(--light-txt);
   margin: 0;
   cursor: pointer;
   width: 100%;
   align-content: right;
   margin-right: 10px;
 }

 .pt-info-labels {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   flex-shrink: 0;
   flex-grow: 1;
   width: 48px;
   align-items: flex-start;
 }

 .pt-info-values {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   flex-grow: 1;
   align-items: flex-end;
   justify-content: flex-end;
   width: 55px;
 }

 .pt-age-text, .pt-weight-text {
   display: flex;
   gap: .5rem;
 }

.menu-icon-btn {
    background: none;
    border: none;
    padding-left: 15px;
}

 .menu-icon-right {
    width: 25px;
    height: 25px;
    fill: var(--light-txt);
    cursor: pointer;
    padding-top: 2px;
 }

 .menu-icon-right:hover {
    fill: var(--teal-accent);
 }

 .menu-icon-left {
    width: 25px;
    height: 25px;
    fill: var(--light-txt);
    cursor: pointer;
 }

 .menu-icon-left:hover {
    fill: var(--teal-accent);
 }

 .menu-icon-left.hidden {
    display: none;
 }

 .menu-icon-right.hidden {
    display: none;
 }
 .container {
    display: flex;
 }

 .container1 {
   /* display: flex; */
   width: 100%;
   flex-wrap: wrap;
}

.container1 > * {
   flex-shrink: 1;
   flex-grow: 0;
}

.container2 {
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
}

.container2 > * {
   flex-shrink: 1;
   flex-grow: 0;
}

.container2 > H2 {
   color: var(--teal-accent);
   margin: 0;
   width: 100%;
}

.containercontainer {
   display: flex;
   padding: 15px;
}

.container-squared {
   margin-bottom: 30px;
}

.indent {
   margin-left: 60px;
}

.container3 {
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: end;
   padding: 5px;
   border: 1px solid var(--fifty-border);
   -webkit-background-clip: padding-box;
    background-clip: padding-box;
   border-radius: 5px;
   outline: none;
   margin-left: auto;
}

.container3 > * {
   flex-shrink: 1;
   flex-grow: 0;
}

.container3 > H4 {
   color: var(--teal-accent);
   margin: 0;
}



 .sidebar.open {
    width: var(--sidebar-width-open);
    margin: 0;
    padding: 0;
    box-shadow:  0 1px 10px 0 rgba(0, 0, 0, .4);
    transition: width var(--animation-duration) var(--animation-timing-curve);
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 100vh;
 }

 .sidebar {
    flex-shrink: 0;
    overflow-y: hidden;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    color: var(--light-txt);
    box-shadow:  0 1px 10px 0 rgba(0, 0, 0, .4);
    transition: width var(--animation-duration) var(--animation-timing-curve);
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
 }

 .sidebar .hidden-sidebar {
    opacity: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
 }

 .sidebar.open .hidden-sidebar {
    display: block;
    opacity: 100;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
 }

 .middle-sidebar {
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;    
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
    height: 100%;
    min-height: 100vh;
 }

 .middle-sidebar ul {
    list-style-type: none;
    padding-left: 0;
 }
  
 .top-list-button {
    flex-shrink: 0;
    margin: 0;
    padding: 5px 15px;
    background-color: var(--blue-bg);
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--sidebar-width-open);
    color: var(--light-txt);
 }

 .top-list-button i {
    display: block;
    padding: 10px 0 10px 0;
    text-decoration: none;
 }

 .top-list-button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: var(--light-txt);
    padding-left: 5px;
    text-decoration: none;
 }

 .top-list-button a div {
    padding: 1px 0 1px 10px;
 }
 .top-list-button:hover * {
    color: var(--teal-accent);
 }

 .middle-sidebar ul li ul {
    display: none;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.middle-sidebar ul li ul li{
    width: var(--sidebar-width-open);
}

.sidebar .bottom-list-button {
    background-color: var(--dark-bg);
    flex-shrink: 0;
    display: block;
    opacity: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
    height: 0px;
    margin: 0;
    padding: 0;
 }

 .sidebar .bottom-list-button a {
    text-decoration: none;
    padding: 0;
    margin: 0;
 }

 .sidebar.open .bottom-list-button {
    margin: 0;
    padding: 5px;
    padding-left: 50px;
    background-color: var(--dark-bg);
    border: 0;
    display: block;
    text-align: left;
    width: 100%;
    color: var(--light-txt); 
    opacity: 100%;
    height: 100%;
 }

 .sidebar.open .bottom-list-button a {
    text-decoration: none;
 }

 .sidebar.open .bottom-list-button div {
    color: var(--light-txt);
    padding-left: 10px;
 }

 .sidebar.open .bottom-list-button:hover * {
    color: var(--teal-accent);
 }

 .sidebar.open .middle-sidebar ul li ul {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



 .content {
    margin: 1rem;
 }

 .content1 {
   margin: 1rem;
}

.modal:not([open]) {
   display: none;
}

.modal::backdrop {
   background: black;
   opacity: 0.8;
}

.hide-me {
   opacity: 0;
}

.twoBox {
   display: Flex;
}


.twoBox div {
   width: max-content;
   flex-shrink: 0;
   flex-grow: 1;
   max-width: 300px;
   align-items: center;
}

.twoBox img {
   width: max-content;
   flex-shrink: 0;
   flex-grow: 1;
   max-width: 300px;
}

.twoBox p {
   justify-content: center;
}

.snakes {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   line-height: 50%;
}

.accordian__label,
.accordian__content {
   border: var(--teal-accent);
   border-color: rgba(250, 250, 250, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accordian__label {
   display: block;
   cursor: pointer;
   position: relative;
   transition: background 0.1s;
   border-style: solid;
   border-width: 1px;
   padding-left: 30px;
   color: var(--light-txt);
   margin-bottom: 5px;
}

.accordian__label:hover {
   background: rgba(0, 0, 0, 0.1);
   color: var(--teal-accent)
}

.accordian__label::after {
   margin: 0;
   content: "+";
   position: absolute;
   left: 5px;
   width: 12px;
   height: 6px;
   background-image: url();
}

.narrativeSection,
.basicTreatmentSection,
.advancedTreatmentSection,
.additionalSection {
   display: none;
  margin-top: 0;
}

.accordian__input {
   display: none;
}

.accordian__input:checked ~ .narrativeSection,
.accordian__input:checked ~ .basicTreatmentSection,
.accordian__input:checked ~ .advancedTreatmentSection,
.accordian__input:checked ~ .additionalSection {
   display: block;
   box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
  padding-top: 10px;
}

.accordian__input:checked ~ .accordian__label {
   color: var(--teal-accent);
}

.accordian__input:unchecked ~ .accordian__label {
   color: var(--light-txt);
}

.accordian__input:checked ~ .accordian__label::after {
   content: "-";
   font-size: 1.5em;
   position: absolute;
   top: 0;
   transform: translateY(-125%);
   color: var(--light-txt);
}

   
.agency {
   min-width: 250px;
   flex-shrink: 0;
}

.agency:before {
   content: 'Mecklenburg EMS Agency';
}

ol {
   list-style-type: decimal;
}

ol li ol {
   list-style-type: upper-latin;
}

ol li ol li ol {
   list-style-type: lower-roman;
}

ul {
   list-style-type: square;
}

ul li ul {
   list-style-type: disc;
}

ul li ul li ul {
   list-style-type: circle;
}

ol ul {
   list-style-type: disc;
}

.pt-info-div2 {
   font-size: 10px;
   background: none;
   border: none;
   text-decoration: none;
   color: var(--light-txt);
   cursor: pointer;
   width: 100%;
   justify-content: left;
}

.pt-info-div2 hr {
   opacity: 50%;
}

hr {
   width: 100%;
   height: 1px;
   opacity: 50%;
}

.pt-info-div2 p {
   display: flex;
   gap: 0.2rem;
   flex-wrap: nowrap;
   justify-content: left;
}

.mvdown {
   min-height: 5px;
   width: 100%;
   display: none;
}

.siteName {
   display: flex;
   height: 100%;
   margin-left: 20px;
   align-content: center;
   margin-bottom: 31px;
}

.siteName p {
   margin: 0;
}

.btn-login {
   background: none;
   border: none;
   text-decoration: none;
   color: var(--teal-accent);
   cursor: pointer;
   font-size: small;
}

.invalid-feedback span {
   color: red;
   font-size:small;
}

.form-group {
   display: flex;
   flex-direction: column;
   gap: .5em;
   flex-grow: 1;
   max-width: 460px;   
}

.form-group-inner {
   display: flex;
   flex-grow: 0;   
   overflow: hidden;
   flex-wrap: nowrap;
   justify-content: space-between;
}

.form-control-lg {
   min-width:  225px;
   margin-bottom: 5px;
   background-color: var(--blue-bg);
   color: var(--teal-accent);
   padding: 5px;
   border: 1px solid var(--light-txt);
   border-radius: 5px;
   outline: none;
}

.give-border {
   min-width:  225px;
   margin-bottom: 5px;
   background-color: var(--blue-bg);
   color: var(--teal-accent);
   padding: 5px;
   border: 1px solid var(--light-txt);
   border-radius: 5px;
   outline: none;
   font-size: small;
}

.form-submit {
   display: flex;
   flex-grow: 0;   
   overflow: hidden;
   flex-wrap: nowrap;
   justify-content: right;
}

.btn-submit {
   max-width: 100px;
   margin-bottom: 20px;
}

.form-control-label {
   min-width: 137px;
}

.form-group {
   border-color: var(--light-txt);
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 25px;
   border-radius: 5px;
}

.form-content legend {
   color: var(--teal-accent);
   font-weight: 400;
   font-family: 'Allerta Stencil',sans-serif;
   font-size: large;
}

.text-muted {
   margin-left: 10px;
}

.remember-register {
   display: flex;
   flex-grow: 0;   
   overflow: hidden;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin-bottom: 20px;
}

.form-check-label {
   font-size: smaller;
   padding-bottom: 2px;
}

.form-check {
   display: flex;
   gap: .5em;
   align-items: center;
}

.alert-danger {
   opacity: 85%;
   color: red;
   margin-left: 15px;
   border: 1px solid red;
   border-radius: 3px;
   padding: 7px;
   /* min-width: 460px; */
}

.message-div {
   display: flex;
}

.alert-message_success {
   color: var(--teal-accent);
   margin-left: 15px;
   border: 1px solid var(--teal-accent);
   border-radius: 3px;
   padding: 7px;
   /* min-width: 460px; */
}

.btn-user {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   justify-content: center;
   margin-left: auto;
   margin-right: 10px;
}

.btn-user * {
   margin: 0;
   display: flex;
   justify-content: right;
}

.pt-info-section {
   display: flex;
   flex-direction: column;
   justify-content: left;
}

.pt-info-section div {
   flex-shrink: 1;
   flex-grow: 1;
}

.small-link {
   font-size: 10px;
   text-decoration: none;
   color: var(--teal-accent);
   margin-left: 5px;
}

.currentPatient {
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
   color: var(--light-offset);
   margin-left: 5px;
}

.med-container {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
   margin-bottom: 20px;
}



.medication-dose-group {
   display: flex;
   flex-direction: column;
   gap: 10px;
   flex-wrap: wrap;

   border: 1px solid var(--fifty-border);
   -webkit-background-clip: padding-box;
    background-clip: padding-box;
   border-radius: 5px;
   outline: none;
   padding: 10px;
   
   margin-bottom: 20px;
   max-width: 500px;
}

.medication-dose-group ul {
   margin: 0;
}

.med-info-group {
   min-width: 350px;
   flex-shrink: 1;
   margin-bottom: 20px;
}

.med-info-title {
   font-weight: 700;
   text-decoration: underline;
}

.med-info-item {
   font-weight: 700;
}

.med-info-sub-item {
   margin: 0;
   margin-left: 10px;
   text-decoration: none;
   font-weight: 500;
}

.small-screen {
   min-width: 350px;
}

.med-container-lg {
   display: flex;
}

.med-container-L {
   width: 200px
}

.med-container-R {
   max-width: 1140px;
   display: flex;
   flex-wrap: wrap;
   margin-left: 30px;
}

.proto-image {
   margin: 20px;
}

.human-bites-images {
   margin-top: 20px;
   margin-bottom: 20px;
}


@media (max-width: 950px){
   .med-image {
      flex: 0 1;
      min-width: 600px
   }
   .large-screen {
      display: none;
   }
   .medication-dose-group {
      max-width: 350px;
   }
}

@media (max-width: 470px){
   .pt-info-div {
      margin-left: auto;
    }

   .agency {
      min-width: 0;
   }

   .agency:before {
      content: 'Medic';
   }

   .form-group-inner {
      flex-wrap: wrap;
   }

   .container3 {
      font-size: .7em;
      justify-content: center;
   }

   .containercontainer {
      justify-content: center;
   }

   .med-info-group {
      max-width: 350px;
   }

   .large-screen {
      display: none;
   }

 }

 @media (min-width: 950px) {
   .bodyContainer {
      width: 1405px;
      margin: 0 auto;
   }
   .accordian {
      min-width: 1100px;
   }
   .content1 h1 {
      min-width: 1100px
   }

   .pt-info-div2 {
      display: flex;
      gap: 10px;
      width: 120px;
      flex-shrink: 0;
      flex-wrap: wrap;
   }

   .mvdown {
      display: none;
   }
   .sidebar {
      width: var(--sidebar-width-open);
      margin: 0;
      padding: 0;
      box-shadow:  0 1px 10px 0 rgba(0, 0, 0, .4);
      transition: width var(--animation-duration) var(--animation-timing-curve);
      height: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      min-height: 120vh;
      overflow: hidden;
      position: fixed;
   }

   .sidebar .hidden-sidebar {
      display: block;
      opacity: 100;
      transition: opacity var(--animation-duration) var(--animation-timing-curve);
   }

   .content1 {
      margin-left: 285px;
   }

   .small-screen {
      display: none;
   }

   .med-image {
      flex: 0 1;
   }
   .differentialText {
      display: flex;
      flex-wrap: wrap;
   }
   
   .differentialText li {
      min-width: 40%;
   }

   .sourceslist, .presentationlist {
      display: flex;
      flex-wrap: wrap;
   }

   .sourceslist li, .presentationlist li {
      min-width: 40%;
   }

   .snake-pictures {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }

   .snake-pictures div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .human-bites-images {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}